#cube {
    margin:0;
    position: relative;
    transform-style: preserve-3d;
}
@media screen and (max-width: 666px) {
    div.HomeContainer{
        width: 100%;
    }
}
.HomeBG{
    width: 100vw;
    height: 200vh;
    display: flex;
    justify-content: center;
}
.HomeContainer{
    width: calc(40vw + 400pt);
}
.HomeContainerBG{
    width: 100%;
    height: 100%;
    position: inherit;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    filter: blur(10px) saturate(65%) opacity(25%);
    z-index: -100;
}
.BG-Cell{
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
.HomeContent{
    margin-top: 50vh;
    width: inherit;
    position: absolute;
    top: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.HomeContent>div{
    width: calc(100%/3);
    height: 10vh;
    display: flex;
    justify-content: center;
}
#cubeParent h1{
    display: inline;
    position: absolute;
    text-align: center;
    vertical-align: middle;
    line-height: 100%;
    font-size: 5rem;
    mix-blend-mode: difference;
}
#cubeParent{
    display: flex;
    justify-content: center;
}