* {
  box-sizing: border-box;
}
*::before, *::after {
  box-sizing: inherit;
}
body {
  padding: 0;
  margin: 0;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 14pt;
  overflow: hidden;
}
html{
  overflow: auto;
}

#top {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eee;
  background-size: cover;
  background-position: center center;
}

#top>h1 {
  text-align: center;
  font-size: 5rem;
  text-shadow: 1px 1px 3px #ffffff, -1px -1px 0px #ebebeb;
}

.slider-controller {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.slider-controller ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

#sc-to-left,
#sc-to-right {
  display: inline-block;
  font-size: 2rem;
  width: 120px;
  line-height: 3em;
  background-color: #bbb;
  color: #f0f0f0;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  opacity: 0.75;
}

section[role="main"]>article,
section[role="main"]>aside {
  width: 960px;
  max-width: 95vw;
  margin: 0 auto;
}

section[role="main"] {
  padding-top: 120px;
  padding-bottom: 120px;
}

